# Ignore binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore test binaries, built with `go test -c`.
*.test

# Ignore output of the Go coverage tool, specifically when used with LiteIDE.
*.out

# Ignore Go workspace files.
go.work
go.work.sum

# Ignore .env file.
.env

# Ignore Linux binary, but allow folder of same name.
deceptifeed
!deceptifeed/

# Ignore default user configuration and log files used by Deceptifeed.
deceptifeed.*
deceptifeed-*.*

# Ignore build output directory used by Makefile.
out/