<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deceptifeed</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="full-width">
    <header>
        {{template "nav" .NavData}}
    </header>
    <main class="full-width">
        {{if .Data}}
        <table class="logs logs-ssh">
            <thead>
                <tr><th>Time<th>Source IP<th>Username<th>Password</tr>
            </thead>
            <tbody>
                {{range .Data}}<tr><td class="time">{{.Time.Format "2006-01-02 15:04:05"}}<td>{{.SourceIP}}<td>{{.Details.Username}}<td>{{.Details.Password}}</tr>
                {{end}}
            </tbody>
        </table>
        {{else}}
        <p class="no-results">No log data found</p>
        {{end}}
    </main>
</body>
</html>