<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deceptifeed</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        {{template "nav" .NavData}}
    </header>
    <main>
        <article>
            <h1 class="error">Error opening log files</h1>
            {{if .Error}}
            <p class="error">{{.Error}}</p>
            {{end}}
        </article>
    </main>
</body>
</html>